*********** Default Css *********** * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.head-title {
  color: #fff;
  font-size: 100px;
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}
/* *********** NavB Css ************/
*/ .NavB-Nav {
  background-color: tomato;
}
.NavB-Container {
}
/************ AboutMe Css ************/
.AMLayout {
  background-color: tomato;
}

/************ ABOUTME Css ************/
.Aboutme-Container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two columns */
  gap: 20px; /* Add some spacing between grid items */
}

.Aboutme-Item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.Aboutme-Item img {
  max-width: 50px; /* Adjust the max width for the icon images */
}

.Aboutme-Name,
.Aboutme-Birthday,
.Aboutme-Address,
.Aboutme-GitHub {
  grid-column: span 1; /* Each item spans one column */
}
